<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note_</title>
    <style>
        .note {
            display: flex;
            width: auto;
            justify-content: center;
            padding: 20px;
            flex-wrap: wrap;
        }

        .note>a {
            padding: 10px;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center; margin-top: 150px;">Welcome, What do you want to do today?</h1>
    <div class="note">
        <a href="/add">Add Note</a>
        <a href="/update">Update Note</a>
        <a href="/view">View Note</a>
        <a href="/view/all">View all Notes</a>
        <a href="/delete">Delete Note</a>
    </div>
</body>

</html>